.board-parent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.board-row{

}

.square {
    background-color: burlywood;
    width: 120px;
    height: 120px;
    /*解决子元素点击修改value导致父元素高度变化*/
    float: left;
    font-size: 60px;
}

.boardStatus{
    margin-bottom: 20px;
    text-align: center;
    color: darkseagreen;
}
.restartGame{
    text-align: center;
}

.restartGame button{
    margin-top: 20px;
    height: 45px;
    border: 1px solid;
    border-radius: 20px;
    background-color: darkseagreen;
    color: dimgray;
}
.game{
    position: relative;
    min-height: 100vh;
}
.game-info{
    position: absolute;
    bottom: 200px;
    left: 44%;
    z-index: 0;
    height: 230px;

}
.game-info ol{
    list-style-type: none;
    counter-reset: item;
    padding-left: 0;
}
.game-info ol li::before {
    content: counter(item) '.';
    counter-increment: item;
    color: white;
    margin-right: 0.5em;
}

.game-info li button{
    height: 22px;
    border: 1px solid;
    border-radius: 20px;
    background-color: darkseagreen;
    color: dimgray;
    margin-bottom: 5px;
}
.siteFoot{
    position: absolute;
    bottom: 0;
    left: 44%;
    z-index: 0;
}
